<h1> Renovated Search </h1>

<div class="row">
	<div class="col-6">
		<div style="width: 700px;" class="border rounded bg-light">
			
			<div class="container" style="padding-top: 25px; padding-bottom: 60px;">
				Search by car name:<br>
				<input type="text" id="renovated_search" name="renovated_search" class="form-control" value=""><br>

				Origin:<br>
				<input type="text" id="country_origin" name="country_origin" class="form-control" value=""><br>
			</div>

		</div>
	</div>
</div>
	

<div id="blogpost-table-two">
  <table>
    <thead>
      <tr>
        <th>The Name</th>
      </tr>
    </thead>

    <tbody>
       <% @rhs_coches.each do |coche| %>
        <tr>
          <td><%= coche.car %></td>
          <td><%= coche.origin %></td>
        </tr>
       <% end %>
    </tbody>
  </table>
</div>

<!--%= text_field_tag 'renovated_search', '', remote: true %-->

<!--%= form_tag(retrieve_searches_coche_datos_path, method: "get", remote: true, html: {id: 'edit-form'}) do %>
    Search by car name:<br>
    <= text_field_tag 'renovated_search', '', remote: true %--> <!--, onkeyup: "$(this).parent('form').submit();" %-->
		<!--%= submit_tag 'Search', class: "btn btn-dark search-btn" %>
< end %-->


<div id="current_retrieve"></div>

