<h1>New Search Page</h1>

<input type="text" id="fname" name="carname" class="search" value="" data-remote="true"><br><br>

<button onclick="newFunction()">New Function</button>
<br><br><br>

Should show coches:
<div id="current_coches"></div>
