<h1>Ajax Search</h1>

<!-- to submit a form via AJAX in Rails, add remote: true to the form_tag argument -->

<div style="width: 700px;" class="border rounded bg-light">
	<%= form_tag(retrieve_searches_coche_datos_path, method: "get", remote: true) do %>
		Search by car name:<br>
		<%= text_field_tag :search, params[:search], placeholder: "Enter search term" %><br><br>

		<%= submit_tag 'Search', class: "btn btn-dark search-btn" %>
	<% end %>
</div>
<br><br>

<div id="blogpost-table">
	<table>
		<thead>
			<tr>
				<th>The Name</th>
			</tr>
		</thead>

		<tbody>
			 <% @rhs_coches.each do |coche| %>
				<tr>
					<td><%= coche.car %></td>
				</tr>
			 <% end %>
		</tbody>
	</table>
</div>

<div id="search-results">
</div>
