<h1>Index Autocomplete</h1>

<br><br>

<input type="search" placeholder="Enter name..." data-behavior="autocomplete">

<br><br>
<button onclick="myFunction()">Click me</button>
<br><br>


<br><br><br><br>
<div id="testData">
</div>

