<h1>Search all cars!</h1>

<div class="row">
  <div class="col-6">
    <div style="width: 700px;" class="border rounded bg-light">
    
      <div class="container" style="padding-top: 25px; padding-bottom: 60px;">
        Search by car name:<br>
        <input type="text" id="car_name_val" name="car_name_val" class="form-control" value=""><br>

        Origin:<br>
        <input type="text" id="country_origin" name="country_origin" class="form-control" value=""><br>

        Year:<br>
        <input type="text" id="year_val" name="year_val" class="form-control" value=""><br>

				<div class="row">
					<div class="col-6">
						<input type="checkbox" id="mpg_val" name="mpg_val" class="form-check-input" value="" onclick="mpgFieldsContainer();">&nbsp;Search by MPG?<br>
					</div>
					<div class="col-6">
						<input type="checkbox" id="horsepower_val" name="horsepower_val" class="form-check-input" value="" onclick="horsepowerFieldsContainer();">&nbsp;Search by horsepower?<br>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<div id="mpg_fields_container">
							MPG:&nbsp;<input type="number" id="MPG_input" min=1 max=200 class="form-control number" placerholder="0"><br>
							MPG Two:&nbsp;<input type="number" id="MPG_two_input" min=1 max=200 class="form-control number" placerholder="0"><br>
						</div>
					</div>
					<div class="col-6">
						<div id="horsepower_fields_container">
							Horsepower:&nbsp;<input type="number" id="horsepower_input" min=50 max=500 class="form-control number" placerholder="0"><br>
							Horsepower Two:&nbsp;<input type="number" id="horsepower_two_input" min=50 max=500 class="form-control number" placerholder="0"><br>
						</div>
					</div>
				</div>		

			</div>
    </div>
  </div>
</div>

<%= link_to 'noCar_noOrigin_noYear_noMpg_noHorsepower', noCar_noOrigin_noYear_noMpg_noHorsepower_coche_datos_path ,remote: true %>
1. <div id="noCar_noOrigin_noYear_noMpg_noHorsepower"></div>

2. <div id="yesCar_noOrigin_noYear_noMpg_noHorsepower"></div>

