.car_data_div_row {
	padding-top: 50px;
}

.search_form_row {
	padding-top: 50px;
}

.search_form_text {
	font-weight: bold;
}


.table_div {
	border-left: 1px solid #dee2e6;
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
	border-top: 1px solid #dee2e6;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#car_table tr:hover, #car_table tr td:hover {
}

